<body>
    <div class="iconContainer">
        <span class="material-icons-outlined">
            sentiment_very_satisfied
        </span>
    </div>

    <div class="aboutContainer">
        <h1 class="aboutHeader">About</h1>
        <p></p>
        <b class="header">The What</b>
        <p>This application allows a user to input a keyword to see a variety of interesting datapoints for that specific word. The user is
            also able to sign in to see their history of searches. 
        </p>
        <b class="header">The Why</b>
        <p> 
            Our team wanted to work on a project that was both interesting and gave us experience with machine learning. We decided that giving people 
            the ability to see public perception for different topics was indeed very cool, so the fact that it also gave us a chance to experiment with
            machine learning made it a no-brainer!
        </p>
        <b class="header">The Who</b>
        <p>This application was created by:</p>
        <p> - Jamal Saied</p>
        <p> - Jaden Hawley</p>
        <p> - Cameron Baird</p>
        <p> - Daniel Buffum</p>
    </div>
</body>