<body>
    <div class="iconContainer">
        <span class="material-icons-outlined">
            sentiment_very_satisfied
        </span>
    </div>

    <div class="aboutContainer">
        <h1 class="aboutHeader">About</h1>
        <p></p>
        <b>The What</b>
        <p>This application allows a user to search through the Twitter API for a given key word inputted by a user. The user would 
            also be able to sign in to see their history of searches. 
        </p>
        <b>The Why</b>
        <p> The team wanted to be able to utilize concepts learned throughout the Web Dev II course as well as be able to utilize Twitter's API since that
            is something that is not covered in the course. 
        </p>
        <b>The Who</b>
        <p>This application was created by:</p>
        <p> - Jamal Saied</p>
        <p> - Andrew Brain</p>
        <p> - Daniel Buffum</p>
        <p> - Payton Marlin</p>
    </div>
</body>