<body>
    <div class="iconContainer">
        <span class="material-icons-outlined">
            sentiment_very_satisfied
        </span>
    </div>

    <div class="aboutContainer">
        <h1 class="aboutHeader">About</h1>
        <p></p>
        <p>Welcome to Sentimint!!! This project was created for Capstone 2 at the University of Missouri - Columbia.
            This application allows a user to search through the Twitter API by inputting a keyword. 
            Our website then reports back some interesting statistics drawn from tweets containing that keyword.
            The user can also sign in to see their history of searches and the stats that resulted from those searches.
        </p>
        <p>We hope you enjoy using it!</p>
        <p>This application was created by:</p>
        <p> - Jamal Saied</p>
        <p> - Daniel Buffum</p>
        <p> - Cameron Baird</p>
        <p> - Jaden Hawley</p>
    </div>
</body>